
.división img{
    margin-top: 40px;
    object-fit: contain;
    height: 20px;
}
/*  */
body {
    margin: 0px;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial,sans-serif;
    background-color: #d8d8d8;
}
.navbar-container {
    box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
    -moz-box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
    background-color: #77bfe1;
}
.navbar {
    max-width: 1560px;
    padding: 0;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbar-left svg {
    width: 20px;
    margin-right: 20px;
    
}

.navbar-left div {
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-left div:hover,
.find-a-store:hover {
    color: #00754a;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left > *,
.navbar-right > * {
    margin: 10px;
}

.container {
    max-width: 1440px;
    margin: auto;
    background-color: #3a659e;
}
.product img {
    max-width: 75%;
    object-fit: contain;
    height: 75%;
}
.product {
    display: flex;
}

.product-left,
.product-right {
    max-width: 50%;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-content: stretch;
    flex-direction: column;
    margin-top: -3%;
}

.product-title {
    width: 80%;
    text-align: justify;
    color: white;
}
.product-title img{
    margin-top: -3%;
    margin-bottom: -27%;
    margin-left: 10%;
    max-width: 75%;
    object-fit: contain;
    height: 100%
}
.product-container {
    margin: 40px 0px 40px 0px;
    display: flex;
}

.product-button {
    border: 1px solid white;
    max-width: max-content;
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.product-button-white {
    color: white;
}

.product-button-black {
    color: black;
    border-color: black;
}

.product-description {
    text-align: center;
    padding: 30px 60px 30px 60px;
    font-size: 18px;
}

.footer {
    padding: 50px;
    text-align: center;
    background-color: #77bfe1;
        padding: 5px 0 0 0;
        margin: auto;
        overflow: hidden;
        color: aliceblue;
}
/* clientes */
.boton1{
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#FFD27D;
    border-color: #d8d8d8;
    border-width: 2px;
    border-style: solid;
    border-radius:35px;
}
.boton2{
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#FFD27D;
    border-color: #d8d8d8;
    border-width: 2px;
    border-style: solid;
    border-radius:35px;
}
.ubicar{
    padding-top:195px;
}
/* inventario */
.boton1{
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#FFD27D;
    border-color: #d8d8d8;
    border-width: 2px;
    border-style: solid;
    border-radius:35px;
}
.boton2{
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#FFD27D;
    border-color: #d8d8d8;
    border-width: 2px;
    border-style: solid;
    border-radius:35px;
}
.ubicar{
    padding-top:195px;
}
/* pedidos */
.boton1{
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#FFD27D;
    border-color: #d8d8d8;
    border-width: 2px;
    border-style: solid;
    border-radius:35px;
}
.boton2{
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#FFD27D;
    border-color: #d8d8d8;
    border-width: 2px;
    border-style: solid;
    border-radius:35px;
}
.ubicar{
    padding-top:195px;
}
/* facturacion */
.boton1{
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#FFD27D;
    border-color: #d8d8d8;
    border-width: 2px;
    border-style: solid;
    border-radius:35px;
}
.boton2{
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#FFD27D;
    border-color: #d8d8d8;
    border-width: 2px;
    border-style: solid;
    border-radius:35px;
}
.ubicar{
    padding-top:195px;
}
/* burbujas */

.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
/*  */
.cubo{
    display: flex;
    justify-content: center;
    align-items: left;
    min-height: 5vh;
    /* background: #25335b; */
    background-color: rgb(215, 217, 201);
}
.contenedor{
    position: relative;
    top: -230px;
    transform: skewY(-20deg);
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.contenedor .cube{
    position: relative;
    z-index: 2;
}
.contenedor .cube:nth-child(2){
    z-index: 1;
    translate: -60px -60px;
}
.contenedor .cube:nth-child(3){
    z-index: 3;
    translate: 60px 60px;
}
.contenedor .cube div{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    translate: calc(-70px * var(--x)) calc(-70px * var(--y));
}
.contenedor .cube div span{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #dcdcdc;
    z-index: calc(1 * var(--i));
    transition: 1.5s;
}
.contenedor .cube div span:hover{
    transition: 0s;
    background: #ef4149;
    filter: drop-shadow(0 0 30px #ef4149);
}
.contenedor .cube div span::before{
    content: '';
    position: absolute;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #fff;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 1.5s;
}
.contenedor .cube div span:hover::before{
    transition: 0s;
    background: #f75d64;
}

.contenedor .cube div span::after{
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 1.5s;
}
.contenedor .cube div span:hover::after{
    transition: 0s;
    background: #f14e55;
}
/*  */